.gridStyle
{
	background-color: #efefef;
	width: 700px;
	height: auto;
}

.items
{
	width: 700px;
}

.filters
{
	background-color: #00a894;
	height: 50px;
}

.summary
{
	display: hidden;
}

.filters input
{
	background-color: #003c4b;
	color: #00a894;
	max-width: 150px;
}

.sort-link
{
	color: #FFFFFF;
	text-decoration: none;
}

.sort-link:hover
{
	color: #00a894;
}

.button-column
{
	width: 60px;
	height: 16px;
	padding: 0px;
}

tr
{
	background-color: #efefef;
	height: 35px;
}

.users-button img
{
	display: none;
}

.users-button
{
	width: 20px;
	height: 20px;
	display: inline-block;
	background-position: 0px 0px;
	background-image: url("../public/images/icons/userIcon.png"); 
}

.users-button:hover
{
	background-position: 0px 40px;
}

.update-button img
{
	display:none;
}
.update-button 
{
	width: 16px;
	height: 16px;
	display: inline-block;
	background-position: 0px 0px;
	background-image: url("../public/images/icons/Edit.png");
}

.update-button:hover 
{
	background-position: 0px -16px;
}

.delete-button img
{
	display:none;
}

.delete-button 
{
	width: 16px;
	height: 16px;
	display: inline-block;
	background-position: 0px 0px;
	background-image: url("../public/images/icons/DeleteColor.png");
}

.delete-button:hover
{
	background-position: 0px -16px;
}

.pager
{
	margin-left: 150px;
}

.pager ul li
{
	list-style-type: none;
	display: inline-block;
	padding: 5px;
	background: #00a894;
}

.pager ul li a
{
	text-decoration: none;
	color: #003c4b;
}

li.page.selected
{
	background-color: #003c4b;
}

li.page.selected a
{
	color: #00a894;
	font-weight: bold;
	font-size: 17px;
}

.pager ul li:hover 
{
	background-color: #003c4b;
}

.pager ul li:hover a 
{
	color: #00a894;
}

li.first:hover
{
	background-color: #003c4b;
}

li.first:hover a
{
	color: #00a894;
}

li.previous:hover
{
	background-color: #003c4b;
}

li.previous:hover a
{
	color: #00a894;
}

li.last:hover
{
	background-color: #003c4b;
}

li.last:hover a
{
	color: #00a894;
}

li.next:hover
{
	background-color: #003c4b;
}

li.next:hover a
{
	color: #00a894;
}

.first.hidden
{
	display: none;
}

.previous.hidden
{
	display: none;
}

.next.hidden
{
	display: none;
}

.last.hidden
{
	display: none;
}

#truck-grid_c0
{
	background-color: #003c4b;
	height: 50px;
}

#truck-grid_c1
{
	background-color: #003c4b;
	height: 50px;

}

#identity-grid_c0
{
	background-color: #003c4b;
	height: 50px;

}

#identity-grid_c1
{
	background-color: #003c4b;
	height: 50px;
}

#identity-grid_c2
{
	background-color: #003c4b;
	height: 50px;
}

#identity-grid_c3
{
	background-color: #003c4b;
	height: 50px;
}

#identity-grid_c4
{
	background-color: #003c4b;
	height: 50px;
}

#identity-grid_c5
{
	background-color: #003c4b;
	height: 50px;

}

#sample-grid_c0
{
	background-color: #003c4b;
	height: 50px;

}

#sample-grid_c1
{
	background-color: #003c4b;
	height: 50px;
}

#sample-grid_c2
{
	background-color: #003c4b;
	height: 50px;
}

#sample-grid_c3
{
	background-color: #003c4b;
	height: 50px;
}

#sample-grid_c4
{
	background-color: #003c4b;
	height: 50px;
}

#sample-grid_c5
{
	background-color: #003c4b;
	height: 50px;
}

#company-grid_c0
{
	background-color: #003c4b;
	height: 50px;	
}

#company-grid_c1
{
	background-color: #003c4b;
	height: 50px;	
}

#identity-company-grid_c0
{
	background-color: #003c4b;
	height: 50px;		
	color: #FFFFFF;
}

#identity-company-grid_c1
{
	background-color: #003c4b;
	height: 50px;		
}