.gridStyle
{
	background-color: #efefef;
	width: 700px;
	height: auto;
	overflow: hidden;
}

.items
{
	width: 700px;
	border-collapse: collapse;
}

.filters
{
	background-color: #00a894;
	height: 50px;
}

.summary
{
	display: hidden;
}

.filters input
{
	background-color: #003c4b;
	color: #00a894;
	max-width: 120px;
}

.sort-link
{
	color: #FFFFFF;
	text-decoration: none;
}

.sort-link:hover
{
	color: #00a894;
}

.button-column
{
	width: 75px;
	height: 16px;
	padding: 0px;
}


table
{
	table-layout: fixed;
	white-space: nowrap;
	max-width: 700px;
}

tr
{
	background-color: #efefef;
	height: 35px;
}

tbody tr 
{
	border-bottom: 1px solid #B5B5B5;
}

tbody tr:last-child
{
	border-bottom: none;
}

tr.even td, tr.odd td
{
	overflow: hidden;
}

a
{
	text-decoration: none;
}

.users-button img
{
	display: none;
}

.users-button
{
	width: 20px;
	height: 20px;
	display: inline-block;
	background-position: 0px 0px;
	background-image: url("../public/images/icons/userIcon.png");
}

.users-button:hover
{
	background-position: 0px 40px;
}

.update-button img
{
	display:none;
}
.update-button 
{
	width: 16px;
	height: 16px;
	display: inline-block;
	background-position: 0px 0px;
	background-image: url("../public/images/icons/Edit.png");
	margin-left: 5px;
}

.update-button:hover 
{
	background-position: 0px -16px;
}

.delete-button img
{
	display:none;
}

.delete-button 
{
	width: 16px;
	height: 16px;
	display: inline-block;
	background-position: 0px 0px;
	background-image: url("../public/images/icons/DeleteColor.png");
	margin-left: 5px;
}

.delete-button:hover
{
	background-position: 0px -16px;
}

.pager
{
	margin-left: 150px;
}

.pager ul li
{
	list-style-type: none;
	display: inline-block;
	padding: 0px 3px 0px 3px;
}

.pager ul li a
{
	text-decoration: none;
	color: #003c4b;
	font-size: 15px;
}

li.page.selected a
{
	color: #00a894;
	font-weight: bold;
	font-size: 18px;
}

.pager ul li:hover a 
{
	color: #00a894;
}

li.first:hover a
{
	color: #00a894;
}

li.previous:hover a
{
	color: #00a894;
}

li.last:hover a
{
	color: #00a894;
}

li.next:hover a
{
	color: #00a894;
}

.first.hidden
{
	display: none;
}

.previous.hidden
{
	display: none;
}

.next.hidden
{
	display: none;
}

.last.hidden
{
	display: none;
}

#truck-grid_c0
{
	background-color: #003c4b;
	height: 50px;
	font-weight: lighter;
}

#truck-grid_c1
{
	background-color: #003c4b;
	height: 50px;
	font-weight: lighter;
}

#identity-grid_c0
{
	background-color: #003c4b;
	height: 50px;
	font-weight: lighter;
}

#identity-grid_c1
{
	background-color: #003c4b;
	height: 50px;
	font-weight: lighter;	
}

#identity-grid_c2
{
	background-color: #003c4b;
	height: 50px;
	font-weight: lighter;
}

#identity-grid_c3
{
	background-color: #003c4b;
	height: 50px;
	font-weight: lighter;	
}

#identity-grid_c4
{
	background-color: #003c4b;
	height: 50px;
	font-weight: lighter;	
}

#identity-grid_c5
{
	background-color: #003c4b;
	height: 50px;
	font-weight: lighter;
}

#sample-grid_c0
{
	background-color: #003c4b;
	height: 50px;
	font-weight: lighter;
	color: #FFFFFF;
	max-width: 150px;
}

#sample-grid_c1
{
	background-color: #003c4b;
	height: 50px;
	font-weight: lighter;
	max-width: 150px;	
}

#sample-grid_c2
{
	background-color: #003c4b;
	height: 50px;
	font-weight: lighter;	
	max-width: 150px;	
}

#sample-grid_c3
{
	background-color: #003c4b;
	height: 50px;
	font-weight: lighter;	
	max-width: 150px;	
}

#sample-grid_c4
{
	background-color: #003c4b;
	height: 50px;
	max-width: 150px;	
}

#sample-grid_c5
{
	background-color: #003c4b;
	height: 50px;
	font-weight: lighter;	
}

#company-grid_c0
{
	background-color: #003c4b;
	height: 50px;	
	font-weight: lighter;	
}

#company-grid_c1
{
	background-color: #003c4b;
	height: 50px;	
	font-weight: lighter;	
}

#identity-company-grid_c0
{
	background-color: #003c4b;
	height: 50px;		
	color: #FFFFFF;
	font-weight: lighter;	
}

#identity-company-grid_c1
{
	background-color: #003c4b;
	height: 50px;	
	font-weight: lighter;		
}