body
{
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
	background-color: #1b1b1b;
	font-size: 16px;
	margin: 0;
	padding: 0;
	color: #555;
  height:100%;
}
html
{
  height:100%;
  width:100%;
}

h1, h2, h3, h4, h5, h6 {
	color: #FFFFFF;
}

p {
	margin-bottom: 1.1em;
	margin-top: 0;
}

#page{
  height:100%;
}

#app-watermark
{
	width: 616px;
	height: 180px; 
	background-image: url("../public/images/CompassWatermark.png");
	margin-top: 150px;
	margin-left: 40px;
}

#page
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: #FFFFFF;
}

#header
{
	top: 0px;
	left: 0px;
	background-color: #1b1b1b;
	width: 100%;
	height: 58px;
}

html > body #header {
	height: 60px;
}

#main p.lastNode {
	margin-bottom: 0;
}

a:link img, a:visited img {
	border: none;
}

div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}

li.clearFloat {
	clear: both;
}

ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#page-contents
{
	display: block;
	width: 100%;
	height: 100%;
}

#content
{
	display: table;
	font-size: 15px;
	text-align: left;
	padding-bottom: 2px;
	width: 700px;
}

h1#contents-field
{
	color: #FFFFFF;
}

#contents-field
{
	display: table;
	width: 100%;
	height: 100%;
	color: #1b1b1b;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#logo
{
	padding: 10px 20px 0px;
	font-size: 200%;
	color:#FFFFFF;
	float: left;
}

#logo-image
{
	width: 220px;
	height: 38px; 
	background-position: 0px 0px;
	background-image: url("../public/images/CompassDashboardLogo.png");
}

#logo-image:hover
{
	
	background-position: 0px 38px;
}

#session-info
{
	color: #FFFFFF;
	float: right;
	margin-right: 40px;
	line-height: 15px;
}

#session-username
{	
	float: left;
	font-size: 16px;
	margin-top: 12px;
	width: 120px;
	overflow: hidden;
	text-align: right;
	height: 20px;
}

#session-fleet
{
	font-size: 16px;
	text-align: right;
	padding-bottom: 5px;
	width: 120px;
	overflow: hidden;
	height: 20px;
}

#logout-button
{
	width: 40px;
	height: 39px;
	background-image: url("../public/images/icons/LogoutIcon.png");
	background-position: 0px 39px;
	float: left;
}

#logout-button:hover
{
	background-position: 0px 0px;
}

#mainmenu
{
	background-color: #003c4b;
}

#mainmenu-container
{

	width: 262px;
	padding: 0px;
	margin: 0px;
	display: block;
	float: left;
	height:100%;
}

#mainmenu {
	height: 100%;
	
}

#mainmenu ul
{
	padding: 0px;
	margin: 0px;
	display: block;
}

#mainmenu ul li
{
	text-decoration: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#mainmenu ul li a
{
	display: block;
	color:#ffffff;
	font-size:16px;
	text-decoration:none;
	padding: 0px 0px 0px 45px;
	margin: 0px;
	width: 195px;
	height: 50px;
	max-height: 50px;
}

#mainmenu ul li.active
{
	color: #FFFFFF;
	background-color:#00a894;
	text-decoration:none;
	width: 262px;
	height: 50px;
	margin: 0px;
	max-height: 50px;
}

#mainmenu ul li.active a
{
	padding: 0px 0px 0px 45px;
	max-height: 50px;
}

#mainmenu ul li:first-child.active
{
	color: #FFFFFF;
	background-color:#00a894;
	margin: 0px;
	max-height: 50px;
	padding: 0px;
}

#mainmenu ul li:hover
{
	color: #FFFFFF;
	background-color:#00a894;
	margin: 0px;
	padding: 0px;
}

.mainmenu-titles
{
	padding: 10px 0px 0px 0px;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

#create-header
{
	background-color: #006060;
	width: 100%;
	height: 70px;
	float: left;
	padding-top: 15px;
	padding-left: 20px;
}

#button-box
{
	width: 100px;
	height: 30px;
	background-position: 0px 0px;
	background-image: url("../public/images/CRUD_Buttons/CreateButton.png");
	float: right;
	display: inline;
	margin-top: 15px;
	margin-right: 35px;
}

#button-box:hover
{
	background-position: 0px 30px;
	float: right;
	display: inline;
	cursor: pointer;
}

#add-user-button
{
	background-position: 0px 0px;
	background-image: url("../public/images/CRUD_Buttons/AddButton.png");
	width: 100px;
	height: 30px;
	float: right;
	display: inline;
	margin-top: 15px;
	margin-right: 35px;
}

#add-user-button:hover
{
	background-position: 0px 30px;
	float: right;
	display: inline;
	cursor: pointer;
}

#identity-update-button
{
  width: 100px;
	height: 30px;
	background-position: 0px 0px;
	background-image: url("../public/images/CRUD_Buttons/UpdateButton.png");
	float: right;
	display: inline;
	margin-top: 15px;
	margin-right: 35px;  
}

#identity-update-button:hover
{
	background-position: 0px 30px;
	cursor: pointer;
}

.headers
{
	display: block;
	background-color: #006060;
	width: 100%;
	height: 70px;
	float: left;
}

.headers h1
{
	margin-left: 20px;
	margin-top: 15px;
}

#sample-image
{
	background-position: 0px 0px;
	background-image: url("../public/images/icons/SampleIcon-BackEnd.png");
	width: 50px;
	height: 50px;
	float: left;
	vertical-align: middle;
}

#mainmenu ul li:hover #sample-image
{
	background-position: 0px 50px;
	vertical-align: middle;	
}

#mainmenu ul li.active #sample-image
{
	background-position: 0px 50px;
	vertical-align: middle;	
}

#truck-image
{
	background-position: 0px 0px;
	background-image: url("../public/images/icons/TrucksIcon-BackEnd.png");
	width: 50px;
	height: 50px;
	float: left;
	vertical-align: middle;
}

#mainmenu ul li:hover #truck-image
{
	background-position: 0px 50px;
	vertical-align: middle;	
}

#mainmenu ul li.active #truck-image
{
	background-position: 0px 50px;
}

#reset-image
{
	background-position: 0px 0px;
	background-image: url("../public/images/icons/ResetIcon-Backend.png");
	width: 50px;
	height: 50px;
	float: left;
	vertical-align: middle;
}

#mainmenu ul li:hover #reset-image
{
	background-position: 0px 50px;
}

#mainmenu ul li.active #reset-image
{
	background-position: 0px 50px;
}


#identity-image
{
	background-position: 0px 0px;
	background-image: url("../public/images/icons/IdentityIcon-BackEnd.png");
	width: 50px;
	height: 50px;
	float: left;
	vertical-align: middle;	
}

#mainmenu ul li:hover #identity-image
{
	background-position: 0px 50px;
	vertical-align: middle;	
}

#mainmenu ul li.active #identity-image
{
	background-position: 0px 50px;
	vertical-align: middle;	
}

#fleet-image
{
	background-position: 0px 0px;
	background-image: url("../public/images/icons/FleetIcon-BackEnd.png");
	width: 50px;
	height: 50px;
	float: left;
	vertical-align: middle;
}

#mainmenu ul li:hover #fleet-image
{
	background-position: 0px 50px;
	vertical-align: middle;	
}

#mainmenu ul li.active #fleet-image
{
	background-position: 0px 50px;
	vertical-align: middle;	
}

#change-fleet-image
{
	background-position: 0px 0px;
	background-image: url("../public/images/icons/FleetIcon-BackEnd.png");
	width: 50px;
	height: 50px;
	float: left;
	vertical-align: middle;
}

#mainmenu ul li:hover #change-fleet-image
{
	background-position: 0px 50px;
}

#mainmenu ul li.active #change-fleet-image
{
	background-position: 0px 50px;
}

#upload-image
{
	background-position: 0px 0px;
	background-image: url("../public/images/icons/UploadCSVIcon-BackEnd.png");
	width: 50px;
	height: 50px;
	float: left;
	vertical-align: middle;	
}

#mainmenu ul li:hover #upload-image
{
	background-position: 0px 50px;
	vertical-align: middle;
}

#mainmenu ul li.active #upload-image
{
	background-position: 0px 50px;
	vertical-align: middle;	
}

#change-parameters-image
{
	background-position: 0px 0px;
	background-image: url("../public/images/icons/ChangeParameters-BackEnd.png");
	width: 50px;
	height: 50px;
	float: left;
	vertical-align: middle;
}

#mainmenu ul li:hover #change-parameters-image
{
	background-position: 0px 50px;
	vertical-align: middle;
}

#mainmenu ul li.active #change-parameters-image
{
	background-position: 0px 50px;
	vertical-align: middle;	
}

.admin-list
{
	width: 700px;
	height: auto;
	display: inline;
	float: left;
}

#button-box-admin
{
	width: 100px;
	height: 30px;
	background-position: 0px 0px;
	background-image: url("../public/images/CRUD_Buttons/NewButton.png");
	float: right;
	margin-top: 15px;
	margin-right: 35px;
}

#button-box-admin:hover
{
	background-position: 0px 30px;
	cursor: pointer;
}

.upload-guidelines
{
	height: 100px;
	width: 700px;
}

.upload-guidelines-file
{
	background-color: #00a894;
	width: 47%;
	height: 98px;
	float: left;
}

.upload-guidelines-file-image
{
	background-image: url("../public/images/GPSInformation.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 178px;
	height: 98px;
	margin-left: 75px;
}

.upload-guidelines-arrow
{
	background-image: url("../public/images/ArrowProcess1.png");
	background-repeat: no-repeat;
	height: 98px;
	width: 40px;
	float: left;
}

.upload-guidelines-params
{
	background-color: #49ceae;
	width: 47%;
	height: 98px;
	float: left;
}

.upload-guidelines-params-image
{
	background-image: url("../public/images/Parameters.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 178px;
	height: 98px;
	margin-left: 75px;
}

.upload-file-explanation
{
	margin-top: 30px;
	margin-left: 30px;
}

.upload-file-explanation p
{
	font-weight: lighter;
}

.explanation-par-one
{
	line-height: 20px;
}

.explanation-par-two
{
	line-height: 20px;
}

.download-sample-file-button
{
	background-image: url("../public/images/DownloadSampleFileButton.png");
	background-position: 0px 0px;
	width: 221px;
	height: 30px;
	margin-left: 300px;
}

.download-sample-file-button:hover
{
	background-position: 0px 60px;
	cursor: pointer;
}

.files-to-upload
{
	width: 338px;
	height: 30px;
	border: solid 1px #a5a5a5;
	margin-left: 130px;
	margin-top: 15px;
	float: left;
}

.files-to-upload ul
{
	list-style-type: none;
}

.files-to-upload ul li
{
	background: transparent;
	padding: 0px 0px 0px 10px;
}

.delete-icon
{
	background-image: url("../public/images/CancelXButton.png");
	background-position: 0px 0px;
	width: 30px;
	height: 30px;
	float: right;
	cursor: pointer;
}

.browse-files-button
{
	background-image: url("../public/images/BrowseButton.png");
	background-position: 0px 0px;
	width: 120px;
	height: 30px;
	margin-top: 15px;
	margin-left:15px;
	float: left;
}

.browse-files-button:hover
{
	background-position: 0px 30px;
}

.start-upload-button
{
	background-image: url("../public/images/UploadButton.png");
	background-position: 0px 0px;
	width: 120px;
	height: 30px;
	margin-top: 40px;
	margin-left: -55px;
}

.start-upload-button:hover
{
	background-position: 0px 30px;
}

.upload-guidelines-two
{
	height: 100px;
	width: 700px;
}

.upload-guidelines-file-two
{
	background-color: #49ceae;
	width: 47%;
	height: 98px;
	float: left;
}

.upload-guidelines-file-image-two
{
	background-image: url("../public/images/GPSInformation.png");
	background-position: 0px 98px;
	width: 178px;
	height: 98px;
	margin-left: 65px;
}

.upload-guidelines-arrow-two
{
	background-image: url("../public/images/ArrowProcess2.png");
	height: 98px;
	width: 40px;
	float: left;
}

.upload-guidelines-params-two
{
	background-color: #00a894;
	width: 47%;
	height: 98px;
	float: left;
}

.upload-guidelines-params-image-two
{
	background-image: url("../public/images/Parameters.png");
	background-position: 0px 98px;
	width: 178px;
	height: 98px;
	margin-left: 65px;
}

.parameters-form
{
	margin-top: 20px;
	margin-left: 20px;
}

#content #contents-field #file_upload_container #container
{
	width: 200px;
	height: 200px;
	display: inline;
	float:left;
}

#content #contents-field #file_upload_container
{
	height: 100%;
	width: auto;
}

.row-parameter-single
{
	width: 100%;
	float: left;
	height: 70px;
	margin-top: 15px;
}

.parameter-label
{
	width: 220px;
	height: 30px;
	float: left;
	margin-top: 5px;
	vertical-align: top;
}

.parameter-input input
{
	float: left;
	width: 216px;
	height: 30px;
	border: 1px solid #a5a5a5;
}

.parameter-input.success
{
	float: left;
	width: 216px;
	height: 30px;
}

.parameter-input
{
	float: left;
	width: 245px;
	height: 30px;
}

.parameter-input.error
{
	float: left;
	width: 245px;
	height: 30px;
}

.parameter-error
{
	color: #ff0000;
}

.login_field_container
{
  border-radius:20px;
  width:220px;
  height:20px;
  background-color: #ffffff;
  overflow:hidden;
  display:inline-block;
}

.login_field
{
  position: relative;
  top:-18px;
  left: -5px;
  padding:10px;
  width:202px;
  height:30px;
  margin: 0px !important;
}

#login_error_container
{
  height:80px;
  text-align:center;
}
#login-form-container
{
  text-align:center;
}

#login-form-container .form
{
  width:240px;
  height:200px;
  text-align:center;
  display: inline-block;
}

#login-form-container .row
{
  text-align:center;
}

#login-logo
{
  text-align:center;
  margin-top: 85px;
  margin-bottom: 40px;
}

#login-submit-button-container input
{
  display:none;
  text-align:center;
}

#login_simulated_button
{
  width: 100px;
  height: 25px;
  display: inline-block;
  background-color: #00a894;
  color: #003c4b;
  cursor:pointer;
  font-weight: bold;
}

#login_simulated_button:hover
{
  color:#00a894;
  background-color: #003c4b;  
}

#no-companies-message
{
	padding: 100px 0px 0px 60px;
	color: #003a4b;
	font-size: 24px;
}

.information-icon
{
	width: 26px;
	height: 26px;
	background-position: 0px 0px;
	background-image: url("../public/images/AboutButton.png");
	float: left;
	margin-top: 10px;
}

.information-icon:hover
{
	background-position: 0px 26px;
	cursor: pointer;
}

.parameter-information-box
{
	width: 324px;
	height: 264px;
	background-image: url("../public/images/ParametersTable.png");
	float: left;
	margin-top: -145px;
	margin-left: 490px;
	z-index: 10000;
}

.upload-continue-button
{
	width: 120px;
	height: 30px;
	background-position: 0px 0px;
	background-image: url("../public/images/CRUD_Buttons/ContinueButton.png");
	margin-top: 10px;
}

.upload-continue-button:hover
{
	background-position: 0px 30px;
	cursor: pointer;
}

.fleet-reset-button
{
	width: 120px;
	height: 30px;
	background-position: 0px 0px;
	background-image: url("../public/images/ResetButton.png");
	margin-top: 10px;
}

.fleet-reset-button:hover
{
	background-position: 0px 30px;
	cursor: pointer;
}

.reset-form-container
{
	color: #003a4b;
	font-size: 16px;
	padding: 20px 0px 0px 30px;
	width: 700px;
	height: auto;
}


#progress-bar-number{
  width:30px;
  height:20px;
  color: #000000;
  margin-left:15px;
  margin-top:15px;
}

#screen_loading{
  /*background-image: url("../public/images/Gris-Op90.png");
  background-repeat: repeat;*/
  background-color: #ffffff;
  width:100%;
  height:100%;
  position:relative;
  left:0px;
  top:0px;
}

#all_content_container{
  display:block;
  float:left;
  width:700px;
}

#spinner_image
{
 width:200px;
 height:200px;
 margin-left:auto;
 margin-right:auto;
 display:block;
 margin-top:40px;  
}

.go-to-map-button
{
	width: 40px;
	height: 29px;
	background-position: 0px 0px;
	background-image: url("../public/images/icons/GoIconButton.png");
	float: right;
}
