body
{
	font-family: 'Ubuntu Medium', Arial, Helvetica, sans-serif;
	background-color: #1b1b1b;
	font-size: 16px;
	margin: 0;
	padding: 0;
	color: #555;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
	color: white;
}

p {
	margin-bottom: 1.1em;
	margin-top: 0;
}

#page
{
	width: 100%;
	height: 100%;
	margin-top: 0px;
	margin-bottom: 5px;
	background: #FFFFFF;
}

#header
{
	top: 0px;
	left: 0px;
	background-color: #1b1b1b;
	width: 100%;
	height: 58px;
}

html > body #header {
	height: auto;
	min-height: 59px;
}

#main p.lastNode {
	margin-bottom: 0;
}

a:link img, a:visited img {
	border: none;
}

div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}

li.clearFloat {
	clear: both;
}

ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#page-contents
{
	display: block;
	width: 100%;
	height: 100%;
}

#content
{
	display: table;
	font-size: 15px;
	text-align: left;
	padding-bottom: 2px;
	width: 100%;
}

h1#contents-field
{
	color: #FFFFFF;
}

#contents-field
{
	display: table;
	width: 100%;
	height: auto;
	color: #1b1b1b;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#logo
{
	padding: 10px 20px 0px;
	font-size: 200%;
	color:#FFFFFF;
}

#logo-image
{
	width: 220px;
	height: 38px; 
	background-position: 0px 0px;
	background-image: url("../public/images/CompassDashboardLogo.png");
}

#logo-image:hover
{
	
	background-position: 0px 38px;
}

#mainmenu
{
	background-color: #003c4b;
}

#mainmenu-container
{

	width: 262px;
	padding: 0px;
	margin: 0px;
	display: table;
	float: left;
}

html > body #mainmenu {
	height: auto;
	min-height: 708px;
}

#mainmenu ul
{
	padding: 0px;
	margin: 0px;
	display: block;
}

#mainmenu ul li
{
	text-decoration: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#mainmenu ul li a
{
	display: block;
	color:#ffffff;
	font-size:16px;
	font-weight:lighter;
	text-decoration:none;
	padding: 20px 0px 0px 65px;
	margin: 0px;
	width: 182px;
	height: 70px;
	max-height: 70px;
}

#mainmenu ul li.active
{
	color: #FFFFFF;
	background-color:#00a894;
	text-decoration:none;
	width: 262px;
	height: 70px;
	margin: 0px;
	max-height: 70px;
}

#mainmenu ul li:first-child.active
{
	color: #FFFFFF;
	background-color:#00a894;
	margin: 0px;
	max-height: 70px;
}

#mainmenu ul li:hover, #mainmenu ul li:focus
{
	color: #FFFFFF;
	background-color:#00a894;
	margin: 0px;
	padding: 0px;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

#create-header
{
	background-color: #006060;
	width: 100%;
	height: 70px;
	float: left;
	padding-top: 15px;
	padding-left: 20px;
}

#button-box
{
	width: 100px;
	height: 29px;
	background-position: 0px 0px;
	background-image: url("../public/images/CreateButton.png");
	float: right;
	display: inline;
	margin-top: 15px;
	margin-right: 350px;
}

#button-box:hover
{
	background-position: 0px 90px;
	float: right;
	display: inline;
}

.headers
{
	display: inline-block;
	background-color: #006060;
	width: 100%;
	height: 70px;
	float: left;
}

.headers h1
{
	margin-left: 20px;
	margin-top: 15px;
}

#sample-image
{
	background-position: 0px 0px;
	background-image: url("../public/images/icons/Sample.png");
	width: 40px;
	height: 30px;
	float: left;
	vertical-align: middle;
}

#mainmenu ul li:hover #sample-image
{
	background-position: 0px 30px;
	vertical-align: middle;	
}

#mainmenu ul li.active #sample-image
{
	background-position: 0px 30px;
	vertical-align: middle;	
}

#truck-image
{
	background-position: 0px 0px;
	background-image: url("../public/images/icons/Truck.png");
	width: 40px;
	height: 30px;
	float: left;
	vertical-align: middle;
}

#mainmenu ul li:hover #truck-image
{
	background-position: 0px 30px;
	vertical-align: middle;	
}

#mainmenu ul li.active #truck-image
{
	background-position: 0px 30px;
}

#identity-image
{
	background-position: 0px 0px;
	background-image: url("../public/images/icons/Identity2.png");
	width: 40px;
	height: 30px;
	float: left;
	vertical-align: middle;	
}

#mainmenu ul li:hover #identity-image
{
	background-position: 0px 30px;
	vertical-align: middle;	
}

#mainmenu ul li.active #identity-image
{
	background-position: 0px 30px;
	vertical-align: middle;	
}

#upload-image
{
	background-position: 0px 0px;
	background-image: url("../public/images/icons/Upload.png");
	width: 40px;
	height: 30px;
	float: left;
	vertical-align: middle;	
}

#mainmenu ul li:hover #upload-image
{
	background-position: 0px 30px;
	vertical-align: middle;
}

#mainmenu ul li.active #upload-image
{
	background-position: 0px 30px;
	vertical-align: middle;	
}

.admin-list
{
	width: auto;
	height: 638px;
	display: inline;
	float: left;
}

#button-box
{
	width: 100px;
	height: 29px;
	background-position: 0px 0px;
	background-image: url("../public/images/CreateButton.png");
	float: right;
}

#button-box:hover
{
	background-position: 0px 30px;
	cursor: pointer;
}

#button-box-admin
{
	width: 100px;
	height: 30px;
	background-position: 0px 0px;
	background-image: url("../public/images/NewIdentityButton.png");
	float: right;
	margin-top: 15px;
	margin-right: 330px;
}

#button-box-admin:hover
{
	background-position: 0px 30px;
	cursor: pointer;
}

.upload-guidelines
{
	height: 100px;
	width: 100%;
}

.upload-guidelines-file
{
	background-color: #00a894;
	width: 430px;
	height: 98px;
	float: left;
}

.upload-guidelines-file-image
{
	background-image: url("../public/images/GPSInformation.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 50%;
	height: 98px;
	margin-left: 120px;
}

.upload-guidelines-arrow
{
	background-image: url("../public/images/ArrowProcess1.png");
	background-repeat: no-repeat;
	height: 98px;
	width: 40px;
	float: left;
}

.upload-guidelines-params
{
	background-color: #49ceae;
	width: 50%;
	height: 98px;
	float: left;
}

.upload-guidelines-params-image
{
	background-image: url("../public/images/Parameters.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 178px;
	height: 98px;
	margin-left: 120px;
}

.upload-file-explanation
{
	margin-top: 90px;
	margin-left: 30px;
}

.upload-file-explanation p
{
	font-weight: lighter;
}

.explanation-par-one
{
	line-height: 3px;
}

.explanation-par-two
{
	line-height: 3px;
}

.download-sample-file-button
{
	background-image: url("../public/images/DownloadSampleFileButton.png");
	background-position: 0px 0px;
	width: 221px;
	height: 30px;
	margin-left: 300px;
}

.download-sample-file-button:hover
{
	background-position: 0px 60px;
	cursor: pointer;
}

.files-to-upload
{
	width: 338px;
	height: 30px;
	border: solid 1px #a5a5a5;
	margin-left: 130px;
	margin-top: 15px;
	float: left;
}

.files-to-upload ul
{
	list-style-type: none;
}

.files-to-upload ul li
{
	background: transparent;
	padding: 5px;
}

.delete-icon
{
	background-image: url("../public/images/CancelXButton.png");
	background-position: 0px 0px;
	width: 30px;
	height: 30px;
	float: right;
	cursor: pointer;
}

.browse-files-button
{
	background-image: url("../public/images/BrowseButton.png");
	background-position: 0px 0px;
	width: 120px;
	height: 30px;
	margin-top: 15px;
	margin-left:15px;
	float: left;
}

.browse-files-button:hover
{
	background-position: 0px 30px;
}

.start-upload-button
{
	background-image: url("../public/images/UploadButton.png");
	background-position: 0px 0px;
	width: 120px;
	height: 30px;
	margin-top: 40px;
	margin-left: -55px;
}

.start-upload-button:hover
{
	background-position: 0px 30px;
}

.upload-guidelines-two
{
	height: 100px;
	width: 100%;
}

.upload-guidelines-file-two
{
	background-color: #49ceae;
	width: 40%;
	height: 98px;
	float: left;
}

.upload-guidelines-file-image-two
{
	background-image: url("../public/images/GPSInformation.png");
	background-position: 0px 98px;
	width: 178px;
	height: 98px;
	margin-left: 120px;
}

.upload-guidelines-arrow-two
{
	background-image: url("../public/images/ArrowProcess2.png");
	height: 98px;
	width: 40px;
	float: left;
}

.upload-guidelines-params-two
{
	background-color: #00a894;
	width: 40%;
	height: 98px;
	float: left;
}

.upload-guidelines-params-image-two
{
	background-image: url("../public/images/Parameters.png");
	background-position: 0px 98px;
	width: 178px;
	height: 98px;
	margin-left: 120px;
}

.parameters-form
{
	margin-top: 90px;
	margin-left: 40px;
}

#content #contents-field #file_upload_container #container
{
	width: 500px;
	height: 200px;
	display: inline;
}

#content #contents-field #file_upload_container
{
	height: 100%;
	width: auto;
}

.row-parameter-single
{
	width: 100%;
	float: left;
	height: 30px;
	margin-top: 20px;
}

.parameter-label
{
	width: 150px;
	height: 30px;
	float: left;
	vertical-align: top;
}

.parameter-input input
{
	float: left;
	width: 216px;
	height: 30px;
	border: 1px solid #a5a5a5;
}

.parameter-error
{
	color: #ff0000;
}

.login_field_container
{
  border-radius:20px;
  width:220px;
  height:20px;
  background-color: #ffffff;
  overflow:hidden;
  display:inline-block;
}

.login_field
{
  position: relative;
  top:-18px;
  left: -5px;
  padding:10px;
  width:202px;
  height:30px;
  margin: 0px !important;
}

#login_error_container
{
  height:80px;
  text-align:center;
}
#login-form-container
{
  text-align:center;
}

#login-form-container .form
{
  width:240px;
  height:200px;
  text-align:center;
  display: inline-block;
}

#login-form-container .row
{
  text-align:center;
}

#login-logo
{
  text-align:center;
  margin-top: 85px;
  margin-bottom: 40px;
}

#login-submit-button-container input
{
  display:none;
  text-align:center;
}

#login_simulated_button
{
  width: 100px;
  height: 25px;
  display: inline-block;
  background-color: #00a894;
  color:#003c4b;
  cursor:pointer;
  font-weight: bold;
}

#login_simulated_button:hover
{
  color:#00a894;
  background-color: #003c4b;
  
  
}
