.gridStyle
{
	background-color: #FFFFFF;
	width: 700px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: -50px;
}

table
{
	border-spacing: 0;
	border-collapse: collapse;
}

thead
{
	height: 50px;
	width: 700px;
}

.items
{
	width: 700px;
}

.filters
{
	background-color: #00a894;
	height: 50px;
	width: 700px;
}

.summary
{
	display: hidden;
}

.filters input
{
	background-color: #003c4b;
	color: #00a894;
	max-width: 150px;
}

.sort-link
{
	color: #FFFFFF;
	text-decoration: none;
}

.sort-link:hover
{
	color: #00a894;
}

.button-column
{
	width: 60px;
	height: 16px;
	padding: 0px;
}

tr
{
	background-color: #FFFFFF;
	height: 35px;
}

tbody tr
{
	border-bottom: 1px solid #B5B5B5;
}

tbody tr:last-child
{
	border-bottom: none;
	border-radius: 0px 0px 25px 25px;
}

#identity-company-grid_c0
{
	background-color: #003c4b;
	height: 50px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: lighter;
	display: none;
}

#identity-company-grid_c1
{
	background-color: #003c4b;
	height: 50px;
	display: none;
}

thead tr:first-child
{
	display: none;
}

.pager
{
	margin-left: auto;
	margin-right: auto;
}

.pager ul li
{
	list-style-type: none;
	display: inline-block;
	padding: 5px;
	background: #00a894;
}

.pager ul li a
{
	text-decoration: none;
	color: #003c4b;
}

li.page.selected
{
	background-color: #003c4b;
}

li.page.selected a
{
	color: #00a894;
	font-weight: bold;
	font-size: 17px;
}

.pager ul li:hover 
{
	background-color: #003c4b;
}

.pager ul li:hover a 
{
	color: #00a894;
}

li.first:hover
{
	background-color: #003c4b;
}

li.first:hover a
{
	color: #00a894;
}

li.previous:hover
{
	background-color: #003c4b;
}

li.previous:hover a
{
	color: #00a894;
}

li.last:hover
{
	background-color: #003c4b;
}

li.last:hover a
{
	color: #00a894;
}

li.next:hover
{
	background-color: #003c4b;
}

li.next:hover a
{
	color: #00a894;
}

.first.hidden
{
	display: none;
}

.previous.hidden
{
	display: none;
}

.next.hidden
{
	display: none;
}

.last.hidden
{
	display: none;
}

.select-fleet-search-icon
{
	width: 42px;
	height: 38px;
	background-image: url("../public/images/select_Fleet/SearchIcon.png");
	background-position: 0px 0px;
	padding: 0px;
	vertical-align: middle;
}
#fleet-search-form
{
	margin-left: 430px;
}