body
{
	font-family: 'Ubuntu Medium', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #555;
	width: 100%;
	height:100%;
}

#page
{
	margin-top: 0px;
	margin-bottom: 0px;
	background: white;
	border: 0px;
	width: 100%;
	height:100%;
}

#header
{
	top: 0px;
	left: 0px;
	background-color: #003c4b;
	width: 100%;
	height: 70px;
}

#logo
{
	float: left;
	width: 174px;
	height: 70px; 
	margin-left: 25px;
}

#logo-image
{
	width: 174px;
	height: 70px; 
	background-position: 0px 0px;
	background-image: url("../public/images/menu_front/CompassLogoFrontEnd.png");
}

#logo-image:hover
{
	background-position: 0px 70px;
}

#icons-bar
{
	width: 450px;
	height: 70px;
	float: right;
}

.routes-section
{
	width: 140px;
	height: 70px;
	background-position: 0px 0px;
	background-image: url("../public/images/menu_front/TripsMenuButton.png");
	float: left;
}

.routes-section:hover
{
	background-position: 0px 70px;
	background-color: #49ceae;
}

.active_routes
{
	width: 140px;
	height: 70px;
	background-position: 0px 70px;
	background-image: url("../public/images/menu_front/TripsMenuButton.png");
	float: left;
	background-color: #49ceae;
}

.active_truck
{
	width: 140px;
	height: 70px;
	background-position: 0px 70px;
	background-image: url("../public/images/menu_front/TrucksMenuButton.png");
	float: left;
	background-color: #49ceae;
}

.trucks-section
{
	width: 140px;
	height: 70px;
	background-position: 0px 0px;
	background-image: url("../public/images/menu_front/TrucksMenuButton.png");
	float: left;
}

.trucks-section:hover
{
	background-position: 0px 70px;
	background-color: #49ceae;
}

.stats-section
{
	width: 140px;
	height: 70px;
	background-position: 0px 0px;
	background-image: url("../public/images/menu_front/StatsMenuButton.png");
	float: left;
}

.stats-section:hover
{
	background-position: 0px 70px;
	background-color: #49ceae;
}

#background-content
{
	width: 100%;
	height: 100%;
	position: absolute;
}

#routes-selection
{
	width: 100%;
	height: 40px;
	background-color: #49ceae;
}

#selector-truck
{
	width: 140px;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-left: 45px;
	background-color: #003c4b;
}

#truck-icon
{
	width: 33px;
	height: 20px;
	margin-left: 10px;
	background-image: url("../public/images/ChooseTruck.png");
	background-repeat: no-repeat;
	float: left;
}


#truck_selector
{
	background: transparent;
	color: #FFFFFF;
	font-size: 14px;
	float: left;
	overflow: hidden;
  width: 120px;
  border: 1px solid #003c4b;
  color: rgba(0,0,0,0);
  text-shadow: 0 0 0 #FFFFFF;
}

#selector-day
{
	width: 275px;
	height: 30px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	background-color: #003c4b;
}

#day-icon
{
	width: 24px;
	height: 24px;
	background-image: url("../public/images/ChooseDay.png");
	background-repeat: no-repeat;
	float: left;
}

#date-route
{
	width: 120px;
	max-width: 120px;
	float: right;
}

#selector-route
{
	width: 120px;
	height: 30px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	background-color: #003c4b;
	overflow: hidden;
}

#route-icon
{
	width: 24px;
	height: 24px;
	background-image: url("../public/images/ChooseRoute.png");
	background-repeat: no-repeat;
	float: left;
}

#select-route
{
	background: transparent;
	color: #FFFFFF;
	font-size: 14px;
	float: left;
	width: 110px;
	border: 1px solid #003c4b;
	color: rgba(0,0,0,0);
  text-shadow: 0 0 0 #FFFFFF;
}

#content
{
    padding: 0px;
    width:1200px;
    height:800px;
    position:absolute;
}

#date-picker-container
{
	margin-left: 50px;
	height: 140px;
}

#truck-title
{
	width: 280px;
	height: 30px;
	background-color: #00a894;
	display: inline-block;
}

#choose-truck-icon
{
	width: 33px;
	height: 20px;
	background-image: url("../public/images/ChooseTruckIcon.png");
	float: left;
	margin-left: 25px;
	margin-right: 30px;
}

#truck-selector-container
{
	background-image: url("../public/images/ArrowDropdown.png");
	background-repeat: no-repeat;
	background-position: right top;
	float: left;
	width: 95px;
	height: 40px;
	overflow: hidden;
}

#route-selector-container
{
	background-image: url("../public/images/ArrowDropdown.png");
	background-repeat: no-repeat;
	background-position: right top;
	float: left;
	width: 95px;
	height: 40px;
	overflow: hidden;	
}

.update-button-map
{
	width: 140px;
	height: 40px;
	background-color: #003c4b;
	color: #FFFFFF;
	margin-top: 0px;
	margin-left: 620px;
}

.update-button-map:hover
{
	background-color: #00a894; 
	cursor: pointer;
}

#update-map-text
{
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	margin-left: 30px;
}

#map-legend
{
  background-color: #efefef;
  width:280px;
  height: 400px;
  margin-right:20px;
}

#map-canvas
{
  width: 100%;
  height: 100%;
  z-index: 1;
}

#route-information-container
{
	width: 280px;
	height: 100px;
	background-color: #003c4b;
}

#route-information-truck-name
{
	color: #00a894;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

#route-information-route-id
{
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
}

#route-information-date
{
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
}

#distance_container
{
	width: 280px;
	height: 60px;
	background-color: #efefef;
	line-height: 28px;
}

#distance_icon
{
	width: 72px;
	height: 60px;
	background-position: 0px 0px;
	background-image: url("../public/images/Distance.png");
	float: left;
}

#distance_label
{
	color: #003d4c;
	font-size: 20px;
	font-weight: lighter;
}

#distance_data_container
{
	font-size: 24px;
	color: #003d4c;
	font-weight: lighter;
	float: left;
}

#time_container
{
	width: 280px;
	height: 60px;
	background-color: #e5e5e5;
	line-height: 28px;
}

#time_icon
{
	width: 72px;
	height: 60px;
	background-position: 0px 0px;
	background-image: url("../public/images/Duration.png");
	float: left;
}

#time_label
{
	color: #003d4c;
	font-size: 20px;
	font-weight: lighter;
}

#time_data_container
{
	color: #003d4c;
	font-size: 24px;
	font-weight: lighter;
	float: left;
}

#average_speed_container
{
	width: 280px;
	height: 60px;
	background-color: #efefef;
	line-height: 28px;
}

#average_speed_icon
{
	width: 72px;
	height: 60px;
	background-position: 0px 0px;
	background-image: url("../public/images/Speed.png");
	float: left;
}

#average_speed_label
{
	color: #003d4c;
	font-size: 20px;
	font-weight: lighter;
}

#average_speed_data_container
{
	color: #003d4c;
	font-size: 24px;
	font-weight: lighter;
	float: left;
}

#short_stops_count_container
{
	width: 280px;
	height: 60px;
	background-color: #e5e5e5;
	line-height: 28px;	
}

#short_stops_count_icon
{
	width: 72px;
	height: 60px;
	background-position: 0px 0px;
	background-image: url("../public/images/Stops.png");
	float: left;
}

#short_stops_count_label
{
	color: #003d4c;
	font-size: 20px;
	font-weight: lighter;
}

#short_stops_count_data_container
{
	color: #003d4c;
	font-size: 24px;
	font-weight: lighter;
	float: left;
}

#more_statistics_container
{
	width: 280px;
	height: 60px;
	background-color: #efefef;
}

#more_statistics_button
{
	width: 182px;
	height: 38px;
	background-position: 0px 0px;
	background-image: url("../public/images/MorestatisticsButton.png");
	float: left;
	margin-left: 45px;
	margin-top: 10px;
	cursor: pointer;
}

#more_statistics_button:hover
{
	background-position: 0px 38px;
}

#truck-selection
{
	width: 100%;
	height: 40px;
	background-color: #49ceae;
	z-index: 1;
}

#truck-selector-container-truck-section
{
	background-image: url("../public/images/ArrowDropdown.png");
	background-repeat: no-repeat;
	background-position: right top;
	float: left;
	width: 125px;
	height: 40px;
	overflow: hidden;
}

#selector-truck-truck-section
{
	width: 170px;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-left: 45px;
	background-color: #003c4b;
}

#trucks_truck_select
{
	background: transparent;
	color: #FFFFFF;
	font-size: 14px;
	float: left;
	overflow: hidden;
  width: 145px;
  border: 1px solid #003c4b;
  color: rgba(0,0,0,0);
  text-shadow: 0 0 0 #FFFFFF;
}

#compare-trucks-button
{
	background-image: url("../public/images/CompareAllTrucksButtonBar.png");
	background-position: 0px 0px;
	float: right;
	width: 220px;
	height: 30px;
	margin-right: 40px;
	margin-top: 4px;
}

#compare-trucks-button:hover
{
	background-position: 0px 30px;
	cursor: pointer;
}

#trucks_truck_stats
{
	margin: 25px 55px 55px 75px;
	height: 600px;
	width: 1100px;
	background-color: #efefef;
	border-radius: 25px 25px 25px 25px;
}

#truck-id-trucks-section
{
	background-color: #00a894;
	width: 100%;
	height: 80px;
	border-radius: 25px 25px 0px 0px;
}

.truck-id-text
{
	color: #FFFFFF;
	padding-left: 30px;
	padding-top: 5px;
	font-size: 40px;
}

#truck-stats-left
{
	width: 50%;
	height: auto;
	float: left;
}

.trucks_truck_stat_container
{
	height: 100px;
	width: auto;
	color: #00a994;
	font-size: 36px;
}

#truck-distance-traveled-icon
{
	width: 90px;
	height: 100px;
	background-position: 0px 0px;
	background-image: url("../public/images/icons_individual_truck/OneTruck-DistanceIcon.png");
	float: left;
	margin-right: 10px;
	margin-top: 20px;
}

.trucks_truck_stats_label
{
	color: #003d4c;
	font-size: 22px;
}

#t_trips_container
{
	background-color: #e5e5e5;
}

#truck-trips-icon
{
	width: 90px;
	height: 100px;
	background-position: 0px 0px;
	background-image: url("../public/images/icons_individual_truck/OneTruck-TripIcon.png");
	float: left;
	margin-right: 10px;
}


#truck-average-speed-icon       
{
	width: 90px;
	height: 100px;
	background-position: 0px 0px;
	background-image: url("../public/images/icons_individual_truck/OneTruck-VelocityIcon.png");
	float: left;	
	margin-right: 10px;
}

#truck-stats-right
{
	width: 50%;
	height: auto;
	float: left;
}

#truck-analysis-right
{
	width: auto;
	height: 50px;
	background-color: #003c4b;
}

#truck-analysis-icon
{
	width: 70px;
	height: 50px;
	background-position: 0px 0px;
	background-image: url("../public/images/icons_individual_truck/StopsAnalysisIcon.png");
	float: left;
	margin-right: 15px;
}

#truck-analysis-label
{
	color: #FFFFFF;
	font-size: 20px;
	padding-top: 10px;
}

.chart_style
{
	float: right;
	height: 450px;
	width: 100%;
}

.trips-stats-container
{
	width: auto;
	height: 110px;
}

.trucks_truck_stats_data
{
	font-size: 24px;
	color: #00a994;
	margin-top: 8px;
}

#trips_data_container_one
{
	width: 18%;
	height: auto;
	float: left;
	line-height: 25px;
	overflow: hidden;
}

.trucks_truck_stats_mini_label
{
	font-size: 18px;
}

#trips_data_container_two
{
	width: 44%;
	height: auto;
	float: left;
	line-height: 25px;
	overflow: hidden;
}

#trips_data_container_three
{
	width: 19%;
	height: auto;
	float: left;
	line-height: 25px;
	overflow: hidden;	
}

.speed-stats-container
{
	width: auto;
	height: 100px;	
	background-color: #e5e5e5;
}

.distance-stats-container
{
	width: auto;
	height: 165px;
}

#distance_data_container_one
{
	width: 40%;
	height: 32%;
	float: left;
	line-height: 25px;
	overflow: hidden;
}

#distance_data_container_two
{
	width: 40%;
	height: 32%;
	line-height: 25px;
	float: left;
	overflow: hidden;
}

#distance_data_container_three
{
	width: 40%;
	height: 32%;
	float: left;
	line-height: 25px;
	overflow: hidden;
}

#distance_data_container_four
{
	width: 40%;
	height: 32%;
	float: left;
	line-height: 25px;
	overflow: hidden;	
}

#fuel-consumption-icon
{
	width: 90px;
	height: 100px;
	background-position: 0px 0px;
	background-image: url("../public/images/icons_individual_truck/OneTruck-FuelIcon.png");
	float: left;
	margin-right: 10px;	
}

.fuel-consumption-stats-container
{
	width: auto;
	height: 120px;
	background-color: #e5e5e5;
}

#fuel_consumption_container_one
{
	width: 40%;
	height: auto;
	float: left;
	line-height: 25px;
}

#fuel_consumption_container_two
{
	width: 40%;
	height: auto;
	float: left;
	line-height: 25px;
}

.datePicker
{
	background-color: #003c4b;
	border: 1px solid #003c4b;
	color: #FFFFFF;
}

#select-view-container
{
	width: 820px;
	height: 500px;
	border-radius: 25px 25px 25px 25px;
	background-color: #FFFFFF;
	margin-left: 200px;
	margin-top: 40px;
}

#one-truck-container
{
	width: 47%;
	height: auto;
	float: left;
}

#one-truck-icon
{
	width: 241px;
	height: 175px;
	background-image: url("../public/images/choose_trucks/OneTruckIcon.png");
	margin-left: 50px;
	margin-top: 20px;
}

.truck-options-title
{
	color: #003c4b;
	font-size: 36px;
	text-align: center;
}

.truck-options-text
{
	color: #003c4b;
	font-size: 22px;
	text-align: center;
	font-weight: lighter;
	line-height: 30px;
	margin-top: 25px;
}

#one-truck-go-button
{
	width: 269px;
	height: 45px;
	background-image: url("../public/images/choose_trucks/GoButton.png");
	background-position: 0px 0px;
	margin-top: 75px;
	margin-left: 75px;
}

#one-truck-go-button:hover
{
	background-position: 0px 45px;
	cursor: pointer;
}

#or-division
{
	width: 38px;
	height: 500px;
	background-image: url("../public/images/choose_trucks/OrDivision.png");
	float: left;
}

#all-trucks-container
{
	width: 45%;
	height: auto;
	float: left;
}

#all-trucks-icon
{
	width: 241px;
	height: 175px;
	background-image: url("../public/images/choose_trucks/CompareAllTrucksIcon.png");
	margin-left: 80px;
	margin-top: 20px; 
}

#all-trucks-button
{
	width: 269px;
	height: 45px;
	background-image: url("../public/images/choose_trucks/CompareAllTrucksButtonBig.png");
	background-position: 0px 0px;
	margin-top: 75px;
	margin-left: 75px;
}

#all-trucks-button:hover
{
	background-position: 0px 45px;
	cursor: pointer;
}

.ui-datepicker-calendar th
{
	background-color: #49ceae;
	color: #FFFFFF;
}

#welcome-box
{
	width: 820px;
	height: 500px;
	border-radius: 25px 25px 25px 25px;
	background-color: #FFFFFF;
	margin-left: 200px;
	margin-top: 40px;
}

#welcome-icon
{
	width: 125px;
	height: 123px;
	background-image: url("../public/images/CompassLogoWelcome.png");
	margin-top: 10px;
	margin-left: 350px;
}

#welcome-title
{
	color: #003a4b;
	font-size: 55px;
	text-align: center;
	margin-top: 20px;
}

#welcome-text
{
	color: #003a4b;
	font-size: 25px;
	text-align: center;
	margin-top: 20px;
	line-height: 30px;
}

#welcome-instructions
{
	color: #003a4b;
	font-size: 20px;
	text-align: center;
	margin-top: 30px;
}

#welcome-choose-truck
{
	height: 40px;
	width: 200px;
	background-color: #003a4b;
	float: left;
	margin-top: 20px;
	margin-left: 65px;
}

#welcome-choose-truck-icon
{
	width: 50px;
	height: 30px;
	background-color: red;
	margin-top: 5px;
	margin-left: 15px;
}