body
{
	font-family: 'Ubuntu Medium', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #555;
	width: 100%;
	height:100%;
}

#page
{
	margin-top: 0px;
	margin-bottom: 0px;
	background: white;
	border: 0px;
	width: 100%;
	height:100%;
}

#header
{
	top: 0px;
	left: 0px;
	background-color: #003c4b;
	width: 100%;
	height: 70px;
}

#logo
{
	padding: 10px 20px 0px;
	font-size: 200%;
	color:#FFFFFF;
	float: left;
}

#logo-image
{
	width: 220px;
	height: 38px; 
	background-position: 0px 0px;
	background-image: url("../public/images/CompassDashboardLogo.png");
}

#logo-image:hover
{
	background-position: 0px 38px;
}

#icons-bar
{
	width: 510px;
	height: 70px;
	float: right;
}

#routes-section
{
	width: 170px;
	height: 70px;
	background-position: 0px 0px;
	background-image: url("../public/images/RoutemapButton.png");
	float: left;
}

#routes-section:hover
{
	background-position: 0px 70px;
	background-color: #49ceae;
}

#trucks-section
{
	width: 120px;
	height: 70px;
	background-position: 0px 0px;
	background-image: url("../public/images/TurcksButton.png");
	float: left;
}

#trucks-section:hover
{
	background-position: 0px 70px;
	background-color: #49ceae;
}

#stats-section
{
	width: 120px;
	height: 70px;
	background-position: 0px 0px;
	background-image: url("../public/images/StatsButton.png");
	float: left;
}

#stats-section:hover
{
	background-position: 0px 70px;
	background-color: #49ceae;
}

#routes-selection
{
	width: 100%;
	height: 40px;
	background-color: #49ceae;
}

#selector-truck
{
	width: 140px;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-left: 45px;
	background-color: #003c4b;
}

#truck-icon
{
	width: 33px;
	height: 20px;
	margin-left: 10px;
	background-image: url("../public/images/ChooseTruck.png");
	background-repeat: no-repeat;
	float: left;
}


#truck_selector
{
	background: transparent;
	color: #FFFFFF;
	font-size: 14px;
	float: left;
	overflow: hidden;
  width: 120px;
  border: 1px solid #003c4b;
}

#selector-day
{
	width: 275px;
	height: 30px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	background-color: #003c4b;
}

#day-icon
{
	width: 24px;
	height: 24px;
	background-image: url("../public/images/ChooseDay.png");
	background-repeat: no-repeat;
	float: left;
}

#date-route
{
	width: 120px;
	max-width: 120px;
	float: right;
}

#selector-route
{
	width: 120px;
	height: 30px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	background-color: #003c4b;
	overflow: hidden;
}

#route-icon
{
	width: 24px;
	height: 24px;
	background-image: url("../public/images/ChooseRoute.png");
	background-repeat: no-repeat;
	float: left;
}

#select-route
{
	background: transparent;
	color: #FFFFFF;
	font-size: 14px;
	float: left;
	width: 110px;
	border: 1px solid #003c4b;
}

#content
{
    padding: 0px;
    width:100%;
    height:100%;
    position:absolute;
}

#maps-icon
{
	width: 140px;
	height: 80px;
	background-color: #003c4b;
	background-position: 140px 0px;
	background-image: url("../public/images/TruckRoutes.png");
	float: left;
}

#maps-icon:hover
{
	background-color: #49ceae;
	background-position: 0px 0px;
}

#date-picker-container
{
	margin-left: 50px;
	height: 140px;
}

#truck-title
{
	width: 280px;
	height: 30px;
	background-color: #00a894;
	display: inline-block;
}

#choose-truck-icon
{
	width: 33px;
	height: 20px;
	background-image: url("../public/images/ChooseTruckIcon.png");
	float: left;
	margin-left: 25px;
	margin-right: 30px;
}

#truck-selector-container
{
	background-image: url("../public/images/ArrowDropdown.png");
	background-repeat: no-repeat;
	background-position: right top;
	float: left;
	width: 95px;
	height: 40px;
	overflow: hidden;
}

#route-selector-container
{
	background-image: url("../public/images/ArrowDropdown.png");
	background-repeat: no-repeat;
	background-position: right top;
	float: left;
	width: 95px;
	height: 40px;
	overflow: hidden;	
}

.update-button-map
{
	width: 140px;
	height: 40px;
	background-color: #003c4b;
	color: #FFFFFF;
	margin-top: 0px;
	margin-left: 620px;
}

.update-button-map:hover
{
	background-color: #00a894; 
	cursor: pointer;
}

#update-map-text
{
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	margin-left: 30px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 0px;
	margin: 0px;
	font-size: 0.8em;
	text-align: center;
	border-top: 0px;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

#map-legend
{
  background-color: #ffffff;
  width:280px;
  height: 400px;
  margin-right:20px;
}

#map-canvas
{
  width:100%;
  height:100%;
}

#top_bar
{
  width:100%;
  height:60px;
  background-color:#000000;
  color:#FFFFFF;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

#route-information-container
{
	width: 280px;
	height: 100px;
	background-color: #003c4b;
}

#route-information-truck-name
{
	color: #00a894;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

#route-information-route-id
{
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
}

#route-information-date
{
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
}

#distance_container
{
	width: 280px;
	height: 60px;
	background-color: #efefef;
}

#distance_icon
{
	width: 72px;
	height: 60px;
	background-position: 0px 0px;
	background-image: url("../public/images/Distance.png");
	float: left;
}

#distance_label
{
	color: #003d4c;
	font-size: 20px;
	font-weight: lighter;
}

#distance_data_container
{
	font-size: 24px;
	color: #003d4c;
	font-weight: lighter;
	float: left;
}

#distance_data_units
{
	font-size: 24px;
	color: #003d4c;
	font-weight: lighter;
	float: left;
}

#time_container
{
	width: 280px;
	height: 60px;
	background-color: #e5e5e5;
}

#time_icon
{
	width: 72px;
	height: 60px;
	background-position: 0px 0px;
	background-image: url("../public/images/Duration.png");
	float: left;
}

#time_label
{
	color: #003d4c;
	font-size: 20px;
	font-weight: lighter;
}

#time_data_container_days
{
	color: #003d4c;
	font-size: 24px;
	font-weight: lighter;
	float: left;
}

#time_data_container_hours
{
	color: #003d4c;
	font-size: 24px;
	font-weight: lighter;
	float: left;
}

#time_data_container_minutes
{
	color: #003d4c;
	font-size: 24px;
	font-weight: lighter;
	float: left;
}

#time_data_units
{
	font-size: 24px;
	color: #003d4c;
	font-weight: lighter;
	float: left;
}

#average_speed_container
{
	width: 280px;
	height: 60px;
	background-color: #efefef;
}

#average_speed_icon
{
	width: 72px;
	height: 60px;
	background-position: 0px 0px;
	background-image: url("../public/images/Speed.png");
	float: left;
}

#average_speed_label
{
	color: #003d4c;
	font-size: 20px;
	font-weight: lighter;
}

#average_speed_data_container
{
	color: #003d4c;
	font-size: 24px;
	font-weight: lighter;
	float: left;
}

#average_speed_data_units
{
	font-size: 24px;
	color: #003d4c;
	font-weight: lighter;
	float: left;
}

#short_stops_count_container
{
	width: 280px;
	height: 60px;
	background-color: #e5e5e5;
}

#short_stops_count_icon
{
	width: 72px;
	height: 60px;
	background-position: 0px 0px;
	background-image: url("../public/images/Stops.png");
	float: left;
}

#short_stops_count_label
{
	color: #003d4c;
	font-size: 20px;
	font-weight: lighter;
}

#short_stops_count_data_container
{
	color: #003d4c;
	font-size: 24px;
	font-weight: lighter;
	float: left;
}

#more_statistics_container
{
	width: 280px;
	height: 60px;
	background-color: #efefef;
}

#more_statistics_button
{
	width: 182px;
	height: 38px;
	background-position: 0px 0px;
	background-image: url("../public/images/MorestatisticsButton.png");
	float: left;
	margin-left: 45px;
	margin-top: 10px;
	cursor: pointer;
}

#more_statistics_button:hover
{
	background-position: 0px 38px;
}

#truck-selection
{
	width: 100%;
	height: 40px;
	background-color: #49ceae;
}

#truck-selector-container-truck-section
{
	background-image: url("../public/images/ArrowDropdown.png");
	background-repeat: no-repeat;
	background-position: right top;
	float: left;
	width: 125px;
	height: 40px;
	overflow: hidden;
}

#selector-truck-truck-section
{
	width: 170px;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-left: 45px;
	background-color: #003c4b;
}

#trucks_truck_select
{
	background: transparent;
	color: #FFFFFF;
	font-size: 14px;
	float: left;
	overflow: hidden;
  width: 145px;
  border: 1px solid #003c4b;
}

#compare-trucks-button
{
	background-image: url("../public/images/CompareAllTrucksButtonBar.png");
	background-position: 0px 0px;
	float: right;
	width: 220px;
	height: 30px;
	margin-right: 40px;
	margin-top: 4px;
}

#compare-trucks-button:hover
{
	background-position: 0px 30px;
	cursor: pointer;
}

#trucks_truck_stats
{
	margin: 25px 55px 55px 75px;
	height: auto;
	width: 85%;
	background-color: #efefef;
}

#truck-id-trucks-section
{
	background-color: #00a894;
	width: 100%;
	height: 80px;
}

.truck-id-text
{
	color: #FFFFFF;
	padding-left: 30px;
	padding-top: 5px;
	font-size: 40px;
}

#truck-stats-left
{
	width: 50%;
	height: auto;
}